<mat-toolbar>
  <mat-toolbar-row>
    <p>Select a renderer:</p>
    <span class="theme-override-blue"><button mat-button color="primary" routerLink="/blue-hexagon" routerLinkActive="mat-flat-button">Blue Hexagons</button></span>
    <span class="theme-override-pink"><button mat-button color="primary" routerLink="/pink-triangle" routerLinkActive="mat-flat-button">Pink Triangles</button></span>
    <span class="theme-override-green"><button mat-button color="primary" routerLink="/green-circle" routerLinkActive="mat-flat-button">Green Circles</button></span>
  </mat-toolbar-row>
</mat-toolbar>

<app-item-count></app-item-count>

<main>
  <ng-content></ng-content>
</main>
